@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$roboto: 'Roboto', sans-serif;

$crvena: #f38181;
$tamno_plava: #374249; // (header i footer)
$tamno_plava_40: #37424980; // (header i footer)
$boja_fonta: #797979;
$naslovi: #374249;
$svetlo_siva_hover_dugme: #cfd1d3; // (hover na dugmice)
$svetlo_siva_pozadina_sekcije: #f3f7f9; // (pozadina sekcija)